.eager-cover-message {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.eager-cover-message[data-visibility="visible"] {
  display: block;
}

.eager-cover-message eager-backdrop {
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.eager-cover-message eager-dialog {
  cursor: default;
  position: absolute;
  z-index: 20005;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 2em;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .eager-cover-message eager-dialog {
    padding: 1em;
  }
}

.eager-cover-message eager-dialog-content {
  position: relative;
  display: block;
  color: #444;
  max-width: 37em;
}

eager-dialog-content {
  position: relative;
  display: block;
  color: #444;
  max-width: 37em;
}

eager-dialog-content,
eager-dialog-content * {
  font-family: inherit;
}

eager-dialog-content-text {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #555;
  display: block;
  padding: 2em;
}


@media (max-width: 568px) {
  eager-dialog-content-text {
      padding: 1.5em;
  }
}

@media (max-width: 480px) {
  eager-dialog-content-text {
      padding: 1em;
  }
}

eager-dialog-content-text > * {
  text-indent: 0;
  margin: 1em 0;
}

eager-dialog-content-text a {
  text-decoration: none;
  font-weight: bold;
}

eager-dialog-content-text > *:first-child {
  margin-top: 0
}

eager-dialog-content-text > *:last-child {
  margin-bottom: 0
}

.eager-cover-message eager-dialog-close-button:after {
  position: absolute;
  display: block;
  content: "✕";
  cursor: pointer;
  z-index: 20007;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 2em;
  font-size: 1.25em;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 2;
  color: rgba(0, 0, 0, .35);
  border-radius: 3px;
}

.eager-cover-message eager-dialog-close-button:hover:after {
  background: rgba(255, 255, 255, .35);
  color: #000;
}

.eager-cover-message .submit-button {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  max-width: 100%;
  cursor: pointer;
  width: auto;
  padding: .65em 1.6em .6em .9em;
  height: auto;
  border: 0;
  border-radius: .1875em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .08em;
  text-indent: .08em;
  font-size: .9em;
  opacity: .85;
  max-width: 16em;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: none;
  text-overflow: ellipsis;
  float: right;
}

.eager-cover-message .input-email {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  max-width: 100%;
  width: auto;
  padding: .65em 1.6em .6em .9em;
  height: auto;
  border: 0;
  border-radius: .1875em;
  font-weight: bold;
  letter-spacing: .08em;
  text-indent: .08em;
  opacity: .85;
  max-width: 16em;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: none;
  text-overflow: ellipsis;
  float: center;
}

.eager-cover-message .page-form {
  text-align: right;
}

.eager-cover-message .page-form .submit-button {
  float: none;
}
