.eager-cover-message {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.eager-cover-message[data-visibility="visible"] {
  display: block;
}

.eager-cover-message[data-goal="signupSuccess"] {
  text-align: center;
}

.eager-cover-message[data-goal="signupSuccess"] eager-dialog-content-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.eager-cover-message[data-form="submitting"] eager-dialog,
.eager-cover-message[data-goal="submitting"] input[type="submit"] {
  cursor: wait;
}

.eager-cover-message eager-backdrop {
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20004;
}

.eager-cover-message eager-dialog {
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  display: block;
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 100%;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20005;
}

@media (max-width: 768px) {
  .eager-cover-message eager-dialog {
    padding: 1em;
  }
}

.eager-cover-message eager-dialog-content {
  display: block;
  color: #444;
  max-width: 100%;
  position: relative;
  width: 37em;
}

eager-dialog-content {
  display: block;
  position: relative;
  color: #444;
}

eager-dialog-content,
eager-dialog-content * {
  font-family: inherit;
}

eager-dialog-content-text {
  background: #fff;
  border: 2px solid #efefef;
  border-radius: 2px;
  color: #555;
  display: block;
  min-height: 8em;
  padding: 1.5em;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 480px) {
  eager-dialog-content-text {
    padding: 1em;
  }
}

eager-dialog-content-text > * {
  text-indent: 0;
  margin: 1em 0;
}

eager-dialog-content-text a {
  text-decoration: none;
  font-weight: bold;
}

eager-dialog-content-text > *:first-child {
  margin-top: 0;
}

eager-dialog-content-text > *:last-child {
  margin-bottom: 0;
}

.eager-cover-message eager-dialog-content-title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.eager-cover-message eager-dialog-close-button:after {
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.35);
  content: "✕";
  cursor: pointer;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  height: 2em;
  line-height: 2;
  position: absolute;
  right: 1em;
  text-align: center;
  top: 1em;
  width: 2em;
  z-index: 20007;
}

.eager-cover-message eager-dialog-close-button:hover:after {
  background: rgba(255, 255, 255, 0.35);
  color: #000;
}

.eager-cover-message input[type="submit"] {
  border-radius: 0.1875em;
  border: 0;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex: 0 0 auto;
  font-size: .9em;
  font-weight: bold;
  height: auto;
  letter-spacing: .08em;
  margin-left: 1em;
  max-width: 16em;
  overflow: hidden;
  padding: .65em 1.6em .6em 1.6em;
  position: relative;
  text-indent: .08em;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
}

.eager-cover-message input[type="submit"]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.eager-cover-message input[type="email"] {
  border-bottom: 1px solid transparent;
  border: 0;
  box-shadow: none;
  display: inline-block;
  flex: 1 1 auto;
  font-weight: bold;
  height: auto;
  letter-spacing: .08em;
  overflow: hidden;
  padding: .65em 1.6em .6em .9em;
  text-indent: .08em;
  text-overflow: ellipsis;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
}

.eager-cover-message input[type="email"]:hover {
  border-bottom-color: #ddd;
}

.eager-cover-message input[type="email"]:focus {
  border-bottom-color: #ccc;
  outline: none;
}

.eager-cover-message input[type="email"]:disabled {
  background-color: #FFFFD6;
}

.eager-cover-message form {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
