cloudflare-app[app="cover-message"],
cloudflare-app[app="cover-message"] * {
  box-sizing: border-box;
}

cloudflare-app[app="cover-message"] {
  /* Default, to be overridden with JS */
  --cloudflare-apps-cover-message-accent-color: #0099ff;

  bottom: 0;
  display: none;
  font-size: 16px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

cloudflare-app[app="cover-message"].cf-invalid cf-dialog-content-title,
cloudflare-app[app="cover-message"].cf-invalid cf-dialog-close-button,
cloudflare-app[app="cover-message"].cf-invalid cf-signup-text,
cloudflare-app[app="cover-message"].cf-invalid input[type="submit"] {
  filter: blur(2px);
}

cloudflare-app[app="cover-message"][data-visibility="visible"] {
  display: block;
}

cloudflare-app[app="cover-message"][data-goal="signupSuccess"] {
  text-align: center;
}

cloudflare-app[app="cover-message"][data-goal="signupSuccess"] cf-dialog-content-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

cloudflare-app[app="cover-message"][data-goal="signupSuccess"] cf-signup-text {
  display: block;
}

cloudflare-app[app="cover-message"][data-form="submitting"] cf-dialog,
cloudflare-app[app="cover-message"][data-goal="submitting"] input[type="submit"] {
  cursor: wait;
}

cloudflare-app[app="cover-message"] cf-backdrop {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20004;
}

cloudflare-app[app="cover-message"] cf-dialog {
  align-items: center;
  cursor: default;
  display: block;
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 100%;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20005;
}

@media (max-width: 768px) {
  cloudflare-app[app="cover-message"] cf-dialog {
    padding: 1em;
  }
}

cloudflare-app[app="cover-message"] cf-dialog-content {
  display: block;
  background: #fff;
  color: #333;
  line-height: 1.65;
  max-width: 100%;
  position: relative;
  width: 32em;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 5px 20px rgba(0, 0, 0, .1);
}

cloudflare-app[app="cover-message"] cf-dialog-content,
cloudflare-app[app="cover-message"] cf-dialog-content * {
  font-family: inherit;
}

cloudflare-app[app="cover-message"] cf-dialog-content-text,
cloudflare-app[app="cover-message"] input[type="email"] {
  color: inherit;
}

cloudflare-app[app="cover-message"] cf-dialog-content-text {
  display: block;
  min-height: 8em;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
}

cloudflare-app[app="cover-message"] cf-signup-text {
  display: block;
  opacity: .8;
  line-height: 1.5;
}

@media (max-width: 480px) {
  cloudflare-app[app="cover-message"] cf-dialog-content-text {
    padding: 1em;
  }
}

cloudflare-app[app="cover-message"] cf-dialog-content-text > * {
  text-indent: 0;
  margin: 1em 0;
}

cloudflare-app[app="cover-message"] cf-dialog-content-text a {
  text-decoration: none;
  font-weight: bold;
}

cloudflare-app[app="cover-message"] cf-dialog-content-text > *:first-child {
  margin-top: 0;
}

cloudflare-app[app="cover-message"] cf-dialog-content-text > *:last-child {
  margin-bottom: 0;
}

cloudflare-app[app="cover-message"] cf-dialog-content-title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 .5em;
  padding-right: 2em;
}

cloudflare-app[app="cover-message"] cf-dialog-close-button {
  -webkit-font-smoothing: antialiased;
  display: block;
  position: absolute;
  font-size: 1.25em;
  height: 2em;
  line-height: 2;
  right: 1.25em;
  top: 1.25em;
  width: 2em;
  font-family: Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  z-index: 20007;
  border-radius: 3px;
  color: rgba(0, 0, 0, .8);
}

cloudflare-app[app="cover-message"] cf-dialog-close-button:hover {
  background: rgba(0, 0, 0, .1);
  color: #000;
}

cloudflare-app[app="cover-message"] cf-dialog-close-button::after {
  content: "✕";
  display: block;
}

cloudflare-app[app="cover-message"] input[type="submit"] {
  background: var(--cloudflare-apps-cover-message-accent-color);
  border-radius: 0.1875em;
  border: 1px solid transparent;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  flex: 0 0 auto;
  margin-left: 1em;
  max-width: 16em;
  overflow: hidden;
  padding: .6em 1em;
  height: 2.8em;
  line-height: 1;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

cloudflare-app[app="cover-message"] input[type="submit"]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

cloudflare-app[app="cover-message"] input[type="email"] {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  background: #fff;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, .18);
  border-top-color: rgba(0, 0, 0, .24);
  padding: .6em 1em;
  height: 2.8em;
  line-height: 1;
  box-shadow: none;
  border-radius: .1875em;
}

cloudflare-app[app="cover-message"] input[type="email"]:not(:focus) {
  background: rgba(0, 0, 0, .08);
}

cloudflare-app[app="cover-message"] input[type="email"]:placeholder {
  color: rgba(0, 0, 0, .5);
}

cloudflare-app[app="cover-message"].cf-invalid input[type='email'],
cloudflare-app[app="cover-message"].cf-invalid input[type='email']:hover {
  color: #f16975;
  background: #fff6f7;
  border-color: currentColor;
  text-align: center;
}

cloudflare-app[app="cover-message"].cf-invalid input[type='email']:disabled::placeholder {
  color: #b71927;
  text-align: center;
}

cloudflare-app[app="cover-message"] input[type="email"]:focus {
  border-color: var(--cloudflare-apps-cover-message-accent-color);
  outline: none;
}

cloudflare-app[app="cover-message"] form {
  margin-top: 1.75em;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
